.new-sale-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 5rem;
  margin-top: 2rem;

  .main-info {
    display: flex;
    flex-direction: column;
  }

  .cart-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .cart-row {
      display: flex;

      & + .cart-row {
        margin-top: 0.75rem;
      }

      input[type="number"] {
        width: 3rem;
      }

      .cart-delete-button {
        height: 100%;
        width: 1.75rem;
        padding: 0;
        margin-left: auto;
        background-color: gray;
        border: 1px solid rgb(187, 187, 187);
      }
    }

    #cart-input {
      margin-top: 2rem;
    }

    #cart-total-price {
      margin-top: 1rem;
    }
  }

  input, select {
    height: 2rem;
    width: 12rem;
    color: $black;
  }

  input {
    padding: 0 0.25rem;

    &::placeholder {
      color: $black;
      opacity: 0.75;
    }
  }

  span {
    color: $black;
  }

  button {
    color: $black;
    height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
  }
}