.new-sale-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 3rem;
  padding-top: 7rem;
  background-color: $white;
  min-height: calc(100vh - 4rem) ;

  .main-info {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 90%;
  }

  .cart-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;

    .cart-row {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;

      & + .cart-row {
        margin-top: 0.75rem;
      }

      input, select {
        height: 2.5rem;
        color: $gray-800;
        text-align: center;
        border-radius: 4px;
        border: 1px solid $yelllow-700;
        background-color: $white;
        transition: border 0.15s;

        &:focus-visible, &:target {
          border: 2px solid $red-600;
          outline: none;
          transition: border 0.15s;
        }
      }
      
      input[type="number"] {
        width: 3rem;
      }

      .cart-delete-button {
        color: $red-600;
        margin-left: auto;
        cursor: pointer;
      }
    }

    .cart-product {
      width: 90%;
      margin-top: 1.5rem;
      align-items: center;
      align-self: center;
    }

    #cart-input {
      width: 100%;
      gap: 0.25rem;

      svg {
        color: $red-600;
        cursor: pointer;
        min-width: 36px;
      }
    }

    .price-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 1rem;

      .price-row {
        display: flex;
        align-items: center;
        margin-top: 0.75rem;
        gap: 1.5rem;

        // #cart-total-price {}
        svg {
          color: $red-600;
          cursor: pointer;
        }
      }

      input {
        height: 2.5rem;
        width: 12rem;
        max-width: 90%;
        color: $gray-800;
        border-radius: 4px;
        border: 1px solid $yelllow-700;
        background-color: $white;
      }

      #discount-wrapper {
        input {
          padding-left: 2rem;
          padding-top: 0.175rem;
        }
        #currency-label {
          position: absolute;
          top: 50%;
          left: 0.5rem;
          transform: translateY(-50%);
        }
      }

    }

  }

  .input-row {
    position: relative;
    display: flex;
    min-height: 2.5rem;

    &.buttons-wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      margin-top: 2rem;

      span {
        font-size: 1.125rem;
      }
      
      svg {
        color: $red-600;
      }

      #register-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
    
        background-color: $yelllow-700;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.3);
      }

      #update-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
    
        background-color: $yelllow-700;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.3);
      }

      #delete-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
    
        background-color: $yelllow-700;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.3);

       
      }
    }

    label {
      position: absolute;
      top: -0.75rem;
      left: 0.75rem;
      font-size: 0.875rem;
      font-weight: 600;
      padding: 0 0.25rem;
      color: $red-600;
      z-index: 99;
      font-family: $font-primary;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: -1;
      }
    }

    input, select {
      height: 2.5rem;
      width: 100%;
      color: $gray-800;
      border-radius: 4px;
      border: 1px solid $yelllow-700;
      background-color: $white;
    }

    select {
      padding: 0 0.25rem;
    }
    
    input {
      padding: 0 0.5rem;
      transition: border 0.15s;

      &::placeholder {
        color: $black;
        opacity: 0.75;
      }

      &:focus-visible {
        border: 2px solid $red-600;
        outline: none;
        transition: border 0.15s;
      }
    }
  }

  span {
    color: $black;
    font-family: $font-primary;
  }

  button {
    color: $black;
    height: 2rem;
    padding: 0 1rem;
    cursor: pointer;

    // &#register-button {
    //   position: absolute;
    //   top: 2.5rem;
    //   right: 3rem;
    // }
  }
}