.menu-container {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  background-color: $white;
  @include responsive-padding(6rem, 3rem);

  .rodal-container {
    #rodal-cart {
      padding: 0;
      margin: 0 0 0 auto;
      box-shadow: -2px 0px 10px -3px rgba(0,0,0,0.3);
    }

    .rodal-mask {
      background: rgba(228, 178, 71, 0.2);
    }
  }

  #cart-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    color: $red-600;
    z-index: 99;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    row-gap: 1.25rem;
    margin-top: 0.5rem;

    .loading-gif {
      width: 5rem;
    }
    
    .product-card {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
      height: fit-content;
      min-height: 9rem;
      // background-color: rgb(96, 96, 223);
      border: 1px solid $yelllow-700;
      border-radius: 4px;
      padding: 0.75rem;
      cursor: pointer;
      box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.2);
      transition: box-shadow 0.1s;
      
      &:hover {
        box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.5);
        transition: box-shadow 0.1s;
      }

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      .product-text {
        // grid-area: 1 / 1 / 2 / 2;

        h4 {
          position: absolute;
          top: -1rem;
          left: 50%;
          transform: translateX(-50%);
          color: $red-600;
          padding: 0 0.25rem;
          width: max-content;
          font-size: 1.125rem;

          &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: $white;
            position: absolute;
            top: 0.5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }
        }

        // p {
        //   font-weight: 500;
        // }
      }

      .product-price {
        // grid-area: 2 / 1 / 3 / 2;
        height: fit-content;
        justify-self: end;
        margin-top: 1rem;
        font-weight: 500;
      }

      .product-image-wrapper {
        // grid-area: 1 / 2 / 3 / 3;
        align-self: center;
        justify-self: center;
        width: 6rem;

        img {
          width: 100%;
        }
      }
    }
  }

  #section-title {
    margin-bottom: 1rem;

    &:not(:first-of-type) {
      margin-top: 2.5rem;
    }
  }

  @media ($tablet-size) {
    padding-top: 3rem !important; 

    section {
      grid-template-columns: 1fr;
    }
  }

}