.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: $yelllow-700;

  .smoke-wrapper {
    position: absolute;
    top: 0.5rem;
    right: calc(50% - 3.75rem);

    img {
      width: 4.5rem;
      height: 2rem;

      &.smoke, &.smoke2, &.smoke3 {
        filter: blur(3px);
        transform-origin: 50% 50%;
      }
      
      &.smoke {
        animation: smoke1 3s linear infinite;
        animation-delay: 0.5s;
      }
      &.smoke2 {
        animation: smoke2 3s linear infinite;
        animation-delay: 1.5s;
      }
      &.smoke3 {
        animation: smoke3 4s linear infinite;
        animation-delay: 2.5s;
        width: 5rem;
      }
    }
  }

  #titleMiniGe {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-16rem);
    width: 5rem;
    z-index: 99;
  }

  h1 {
    padding-top: 1.5rem;
    color: $red-600;
    font-size: 3.5rem;
    z-index: 99;
    font-family: $font-title;
  }

  @keyframes smoke1 {
    0% {
      filter: blur(0px);
      transform: translateY(0px) scale(-1, 1);
      opacity: 0;
    }
    25% {
      filter: blur(1px);
      transform: translateY(-5px) scale(-1, 1.05);
      opacity: 0.5;
    }
    50% {
      filter: blur(2px);
      transform: translateY(-10px) scale(-1, 1.1);
      opacity: 1;
    }
    75% {
      filter: blur(2px);
      transform: translateY(-15px) scale(-1, 1.15);
      opacity: 0.5;
    }
    100% {
      filter: blur(3px);
      transform: translateY(-20px) scale(-1, 1.15);
      opacity: 0;
    }
  }
  @keyframes smoke2 {
    0% {
      filter: blur(0px);
      transform: translateY(0px) scale(1);
      opacity: 0;
    }
    25% {
      filter: blur(1px);
      transform: translateY(-5px) scale(1.05);
      opacity: 0.5;
    }
    50% {
      filter: blur(2px);
      transform: translateY(-10px) scale(1.1);
      opacity: 1;
    }
    75% {
      filter: blur(2px);
      transform: translateY(-15px) scale(1.15);
      opacity: 0.5;
    }
    100% {
      filter: blur(3px);
      transform: translateY(-20px) scale(1.15);
      opacity: 0;
    }
  }
  @keyframes smoke3 {
    0% {
      filter: blur(0px);
      transform: translateY(0px) scale(1);
      opacity: 0;
    }
    25% {
      filter: blur(1px);
      transform: translateY(-10px) scale(1.05);
      opacity: 0.5;
    }
    50% {
      filter: blur(2px);
      transform: translateY(-20px) scale(1.1);
      opacity: 1;
    }
    75% {
      filter: blur(2px);
      transform: translateY(-30px) scale(1.15);
      opacity: 0.5;
    }
    100% {
      filter: blur(3px);
      transform: translateY(-40px) scale(1.15);
      opacity: 0;
    }
  }

  @media only screen and ($tablet-size) {
    #titleMiniGe {
      position: relative;
      left: auto;
      top: auto;
      width: 2.25rem;
      z-index: 99;
      transform: none;
      margin-right: 0.75rem;
    }

    h1 {
      font-size: 2.75rem;
      padding-top: 1.7rem;
    }
  }
}