@mixin product-image($product) {
  background: url(#{$assets-path}/salgados/#{$product}.png);
  background-size: cover;
  background-position: center center;
}

.product-handler-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $white;

  .product-image {
    width: 14rem;
    height: 12rem;
    
    &#misto { @include product-image('misto'); }
    &#cebola { @include product-image('cebola'); }
    &#salsicha { @include product-image('salsicha'); }
  }

  h4 {
    margin-top: 0.5rem;
  }

  p {
    margin-top: 1rem;
  }

  #unitary-price {
    align-self: start;
    font-size: .875rem;
    margin-top: .5rem;
    color: $red-600;
  }

  #promotion-notice {
    align-self: start;
    font-size: .875rem;
    color: $gray-800;
  }

  .add-row {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      border: 1px solid $yelllow-700;
      border-radius: 4px;
      padding: 0 0.5rem;
      height: 2.25rem;
      width: 7rem;

      input {
        width: 3rem;
        height: 2rem;
        text-align: center;
        border: 0;
      }

      button {
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        color: $red-600;
        cursor: pointer;
      }
    }

    #add-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.75rem;
      height: 2.25rem;
      width: 11rem;
      margin-left: 1rem;
      border: 0;
      border-radius: 4px;
      background-color: $yelllow-700;
      font-size: 0.9375rem;
      cursor: pointer;
    } 
  }
}