@mixin product-image($product) {
  background: url(#{$assets-path}/salgados/#{$product}.png);
  background-size: cover;
  background-position: center center;
}

.product-handler-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $white;

  .product-image {
    width: 14rem;
    height: 12rem;
    border-radius: 4px;
    
    &#frango { @include product-image('frango'); }
    &#misto { @include product-image('misto'); }
    &#salsicha { @include product-image('salsicha'); }
    &#torta { @include product-image('torta'); }
    &#coxinha { @include product-image('coxinha'); }
    &#enroladinho { @include product-image('enroladinho'); }
    &#cebola { @include product-image('cebola'); }
  }

  h4 {
    margin-top: 0.5rem;
  }

  p {
    margin-top: 1rem;
    align-self: start;
  }

  #unitary-price {
    align-self: start;
    font-size: .875rem;
    margin-top: .25rem;
    color: $red-600;
  }

  #promotion-notice {
    align-self: start;
    font-size: .875rem;
    color: $gray-800;
    margin-top: 1rem;
  }

  .add-row {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      border: 1px solid $yelllow-700;
      border-radius: 4px;
      padding: 0 0.5rem;
      height: 2.25rem;
      width: 7rem;

      input {
        width: 3rem;
        height: 2rem;
        text-align: center;
        border: 0;

        &:disabled {
          color: $black;
        }
      }

      button {
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        color: $red-600;
        cursor: pointer;
      }
    }

    #add-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.5rem;
      height: 2.25rem;
      width: fit-content;
      margin-left: 1rem;
      border: 0;
      border-radius: 4px;
      background-color: $yelllow-700;
      font-family: $font-primary;
      font-size: 0.9375rem;
      cursor: pointer;
    } 
  }
}