.pix-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #pix-img {
    width: 10rem;
  }

  #qrcode-img {
    width: 14rem;
    margin-top: 1.25rem;
  }

  .pix-row {
    display: flex;
    margin-top: 0.75rem;
    gap: 0.25rem;
    color: $gray-800;

    svg {
      color: $red-600;
      cursor: pointer;
    }

    h4 {
      color: $red-600;
    }

    &:first-of-type {
      margin-top: 2rem;
    }

    &:nth-of-type(2) {
      margin-top: 1.25rem;
    }
  }
}