// Color Palette
$white: #fafafa;
$black: #0a0a0a;
$gray-200: #cacaca;
$gray-800: #313131;
$yelllow-700: #E4B147;
$red-600: #801115;

// Media Variables
$mobile-size: "max-width: 450px";
$tablet-size: "max-width: 600px";
$notebook-size: "max-width: 1024px";
$desktop-size: "max-width: 1280px";

$font-title: 'Great Vibes', cursive;
$font-primary: 'Laila', sans-serif;

$assets-path: './assets';

* {
  // --toastify-color-success: #E4B147;
  // --toastify-text-color-success: #801115;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent; // remove color highlight on tap

  // Remove arrows/spinners from numeric inputs
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    appearance: textfield;
  }
}

// @mixin responsive-padding($pt: 0, $pb: 0) {
//   padding: $pt 1rem $pb;

//   @media only screen and ($tablet-size) {
//     padding: $pt 4rem $pb;
//   }
//   @media only screen and ($notebook-size) {
//     padding: $pt 6rem $pb;
//   }
//   @media only screen and ($desktop-size) {
//     padding: $pt calc(8rem + 5vw) $pb;
//   }
// }

@mixin responsive-padding($pt: 0, $pb: 0) {
  padding: $pt calc(8rem + 5vw) $pb;

  @media only screen and ($desktop-size) {
    padding: $pt 6rem $pb;
  }
  @media only screen and ($notebook-size) {
    padding: $pt 4rem $pb;
  }
  @media only screen and ($tablet-size) {
    padding: $pt 2rem $pb;
  }
  @media only screen and ($mobile-size) {
    padding: $pt 1rem $pb;
  }
}

@import "./components/SalesTable/SalesTable";
@import "./components/NewSale/NewSale";
@import "./components/Header/Header";
@import "./components/Stock/Stock";
@import "./components/Login/Login";
@import "./components/UserData/UserData";